<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner title">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8 mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Main-Hero-RGB-04.png" alt="Illustration" class="responsive-img hide-on-med-and-up" />
      <h1>Sign Up & Skill Up for a Digitally Smarter Scotland</h1>
      <p>
        We are on a mission: to give everyone in Scotland the essential digital skills they need to do their jobs, live their lives, and confidently use different digital services. To do this, we need your help&hellip;
      </p>
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Main-Hero-RGB-04.png" alt="Illustration" class="responsive-img" />
    </div>
  </div>
  <div class="mdc-layout-grid__inner description">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <hr />
    </div>
  </div>
</div>
<div class="mdc-layout-grid equal-height">
  <div class="mdc-layout-grid__inner title">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <div class="mdc-card">
        <div class="mdc-card__primary">
          <h2>
            <i class="fas fa-fw fa-marker fa-2x"></i>
            Charter
          </h2>
        </div>
        <div class="mdc-card__supplimentary-text">
          <p>
            Scotland's Digital Participation Charter helps your organisation take a step towards a digitally smarter Scotland.
          </p>
        </div>
        <div class="mdc-card__actions">
          <a href="/charter" class="mdc-button mdc-card__action mdc-card__action--button">
            <span class="mdc-button__label">Find out more</span>
          </a>
        </div>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <div class="mdc-card">
        <div class="mdc-card__primary">
          <h2>
            <i class="fas fa-fw fa-graduation-cap fa-2x"></i>
            Skills
          </h2>
        </div>
        <div class="mdc-card__supplimentary-text">
          <p>
            We developed the Essential Digital Skills Toolkit in consultation with over 60 organisations, to support individuals, groups and organisations to measure their digital skills in life and in the workplace.
          </p>
        </div>
        <div class="mdc-card__actions">
          <a href="/skills" class="mdc-button mdc-card__action mdc-card__action--button">
            <span class="mdc-button__label">Find out more</span>
          </a>
        </div>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <div class="mdc-card">
        <div class="mdc-card__primary">
          <h2>
            <span class="fa-stack fa-1x">
              <i class="fas fa-stack-2x fa-search"></i>
              <i class="fas fa-stack-1x fa-pound-sign" style="margin-top: -0.44rem; margin-left: -0.24em; font-size: 1.6rem;"></i>
            </span>
            Funding
          </h2>
        </div>
        <div class="mdc-card__supplimentary-text">
          <p>
            The Digital Participation Charter Fund, supported by the Scottish Government and BT, invests in community digital participation projects across Scotland.
          </p>
        </div>
        <div class="mdc-card__actions">
          <a href="https://scvo.org/digital/participation/charter-fund" class="mdc-button mdc-card__action mdc-card__action--button">
            <span class="mdc-button__label">Find out more&ensp;<span class="fas fa-external-link" aria-hidden="true"></span></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mdc-layout-grid">
  {{#compare @root.data.primaryResponse.hits.total ">" 0 ~}}
  <div class="mdc-layout-grid__inner title">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <hr />
      <h2>Latest story</h2>
    </div>
  </div>
  {{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
  <div class="mdc-layout-grid__inner stories">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <hr />
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <a href="/{{replace slug "_" "/"}}"><img src="{{featured_image.sizes.full.source_url}}" alt="title" /></a>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <h3>
        <a href="/{{replace slug "_" "/"}}">{{{title}}}</a>
      </h3>
      <p>
        <a href="/{{replace slug "_" "/"}}">Read this story</a>
      </p>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      {{#if quotation}}
      <blockquote>
        {{#if quotation.text}}<p>“{{quotation.text}}”</p>{{/if}}
        <cite>{{quotation.author}}</cite>
      </blockquote>
      {{/if}}
    </div>
  </div>
  {{/with ~}}
  <div class="mdc-layout-grid__inner title">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <p>
        <a href="/stories" class="mdc-button">Read more stories</a>
      </p>
      <p>
        <br />
        Looking for something else?
      </p>
      <p>
        <a href="/resources" class="mdc-button">Browse resources</a>
      </p>

      <hr class="margin-top" />
    </div>
  </div>
  {{/compare ~}}
</div>