<div class="">
  <div class="columns title description">
    <div class="column col-12 col-md-6 col-sm-12">
      <h1 class="align-bottom">Stories</h1>
    </div>
    <div class="column col-2 col-md-4 col-sm-12">
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Pledges-RGB-04.png" alt="Our Pledges illustration" class="responsive-img" />
    </div>
  </div>
  {{#each @root.data.primaryResponse.hits.hits ~}}
  {{#with _source ~}}
  <div class="columns stories">
    <div class="column col-12">
      <hr class="margin-bottom" />
    </div>
    <div class="column col-2 col-md-12">
      <a href="/{{replace post_slug "_" "/"}}"><img src="{{featured_image.sizes.full.source_url}}" alt="title" /></a>
    </div>
    <div class="column col-6 col-md-12">
      <h3>
        <a href="/{{replace post_slug "_" "/"}}">{{{title}}}</a>
      </h3>
      <p>
        <a href="/{{replace post_slug "_" "/"}}">Read this story</a>
      </p>
    </div>
    <div class="column col-4 col-md-12">
      {{#if quotation}}
      <blockquote>
        {{#if quotation.text}}<p>“{{quotation.text}}”</p>{{/if}}
        <cite>{{quotation.author}}</cite>
      </blockquote>
      {{/if}}
    </div>
  </div>
  {{/with ~}}
  {{/each ~}}
  <div class="columns">
    <div class="column col-12">
      <hr class="margin-top" />
    </div>
  </div>

  {{> pagination paging=@root.data.primaryResponse.pagination firstLastNavigation=false}}
</div>