<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner title description">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone">
      <h1 class="align-bottom">Stories</h1>
    </div>
    <div class="mdc-layout-grid__cell hide-on-small-only mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-4-phone">
      <img src="https://storage.googleapis.com/digitalparticipation/images/illustrations/Pledges-RGB-04.png" alt="Our Pledges illustration" class="responsive-img" />
    </div>
  </div>
  {{#each @root.data.primaryResponse.hits.hits ~}}
  {{#with _source ~}}
  <div class="mdc-layout-grid__inner stories">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <hr class="margin-bottom" />
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <a href="/{{replace post_slug "_" "/"}}"><img src="{{featured_image.sizes.full.source_url}}" alt="title" /></a>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <h3>
        <a href="/{{replace post_slug "_" "/"}}">{{{title}}}</a>
      </h3>
      <p>
        <a href="/{{replace post_slug "_" "/"}}">Read this story</a>
      </p>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      {{#if quotation}}
      <blockquote>
        {{#if quotation.text}}<p>“{{quotation.text}}”</p>{{/if}}
        <cite>{{quotation.author}}</cite>
      </blockquote>
      {{/if}}
    </div>
  </div>
  {{/with ~}}
  {{/each ~}}
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <hr class="margin-top" />
    </div>
  </div>

  {{> pagination paging=@root.data.primaryResponse.pagination firstLastNavigation=false}}
</div>